body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    
}

.name_highlights{
    color:#15DCD2;
}

.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

.half_width p{
    text-align: justify;
}

.half_width img{
    width: 100%;
}

.top_banner{
    background-image: url("assets/img/top-banner.png");
    background-repeat: no-repeat;
    
}

section{
    height: 600px;
    padding-bottom: 10px;
    overflow: hidden;
}

.link_button{
    text-decoration: none;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #0CEDC8, #3A97F7);
}

.dream_banner{
    background-image: url("assets/img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dream_banner .half_width{
    margin-left: 2%;
}

.dream_banner .half_width img{
    width: 100%;
}

.experience .half_width{
    box-shadow: 10px 10px 15px gray;
    background-color: white;
}

.experience{
    background-image: url("assets/img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}

#junior_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0CEDC8, #3A97F7);
    border-image-slice: 1;
}

.experience h2{
    margin-left: 6%;
}

footer p{
    text-align: center;
}

.experience .half_width h2{
    margin: 0px;
    margin-top: 10px;
}